a {
  text-decoration: none;
}

.body {
  font-family: serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.header {
  display: flex;
  height: 40px;
  padding: 15px;
  /* border: 2px solid rgb(229, 109, 205); */
  background-color: rgb(236, 148, 219);
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}

.navList {
  display: inline-flex;
  gap: 20px;
  padding: 15px 20px;
  /* border: 2px solid rgb(0, 0, 0); */
  color: black;
  list-style: none;
  text-decoration: none;
  transition: all 0.3s;
  text-decoration: none;
}

.li > .navList {
  display: block;
  border: 2px solid rgb(212, 72, 119);
  background-color: rgb(236, 148, 219);
}
.active {
  background-color: palevioletred;
  color: white;
  text-decoration: none;
}

.navItem {
  border: 2px solid rgb(212, 72, 119);
  background-color: rgb(236, 148, 219);
  padding: 10px;
}
