a {
  text-decoration: none;
}

.body {
  font-family: serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.header {
  display: flex;
  height: 40px;
  padding: 15px;
  border: 2px solid rgb(229, 109, 205);
  background-color: rgb(236, 148, 219);
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}

.navLink {
  display: inline-flex;
  padding: 15px 20px;
  border: 2px solid rgb(212, 72, 119);
  color: black;

  text-decoration: none;
  transition: all 0.3s;
  text-decoration: none;
  background-color: transparent;
}

.active {
  background-color: palevioletred;
  color: white;
  text-decoration: none;
}
