.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.notFoundLink {
  border: 3px solid rgb(238, 158, 172);
  padding: 7px;
  color: purple;
  font-size: 20px;
  font-weight: 600;
  width: 120px;
}
